<a href="https://colab.research.google.com/github/Afferent-Learning/Intro-to-the-Machine-Learning-Pipeline/blob/master/(C4)%202D%20Data%20Management%20in%20Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2 Dimensional Data Management - Part 1


This serves as an introduction to pandas, csv files, and image processing

## CSV Files :  In the time before Excel..
---
CSV or Comma Seperated Values files were the orginal way in which row and column data was stored and shared. In fact, almost all spreadshseet software still has an option to export the sheet to a CSV file. Many of the datasets you will have access to for both these lessons and your projects will be in the form of CSV. Because of this, it is important for us to learn about Python's most popular spreadsheet library: **Pandas**.

### Temporary file upload using linux
Before we get started with Pandas, lets go over some useful command you can use to control your notebook's server envrionment. If you don't have any reason to store a file you are working on inside your Google Drive, you can upload it to the Colab server through a variety of techniques. The following technique utilizes the Ubuntu operating system inside the Colab server. To run  linux commands on the server, simply insert an exclamation point at the beginning of your command and run it in a cell. Run the cell below to download the file we will be using in this tutorial directly from Github. Once you disconnect from this runtime, the file will be automatically deleted, saving you the hassle of managing your space

In [0]:
!wget https://raw.githubusercontent.com/intro-to-the-machine-learning-pipeline/Multidimensional-Data-Processing/master/Beatles.csv

Once the above cell is complete, run the cell below to  verify the Beatles.csv file exists inside your current working directory.

In [0]:
!ls

## Processing a CSV file with Pandas
---
Pandas is an incredibly popular Python library primarily used to create dataframes objects. These objects contain incredibly useful functions which will allow us to view, sort, and analyze our data with ease. First run the cell below to import the Pandas library.

In [0]:
import pandas as pd

Now let's use the **read_csv** function to create a new dataframe named **df** from our Beatles.csv file by running the cell below.

In [0]:
df = pd.read_csv('Beatles.csv')

In a notebook, just like in a python shell, you can simply run the name of a variable and its value you will be returned as the output. In the cell below, call your dataframe by its variable name.

Now let's do some simple row and column analysis. To display a column's value, simply use the column header as an index as if you were indexing the dataframe as an array. Here's a quick array indexing refresher:
```python
a = [1,2,3,4] # declares an array
a[0] == 1 # returns True because the value stored at index 0 in the array is 1
a[2] == 2 # returns False beacase the value stored at index 2 in the array is 3
```

Ok so now that you've gotten a hang of columns, let's do some computation. First, let's figure out what datatype we are working with when we use a column.

In [0]:
type(df['Name'])

As you can see, columns are stored as Series objects. Using what we've learned and referencing the [Pandas API](https://pandas.pydata.org/pandas-docs/stable/reference/series.html), use the **sum** function / computation to calculate the total number of autographs the Beatles have signed according to our dataframe (Correct answer is 45)

### Pro Tip!

Whenever you are stuck on a problem while programming it is a good idea to verify the datatype(s) that you are currently working with and consult the library's API before you try to write a function or computation from scratch. This will save you lot's of times in debugging and help you be more specific about your problem if you fell the need to publish it to a forum like [Stack Overflow](https://www.stackoverflow.com)

## Constructing a Pandas Dataframe from Scratch
---
Now we will learn to create our own dataframe using the Python dictionary datatype. First, copy and paste the dictionary declaration below into the next cell.

```python
data = {
    'apples': [300, 200, 30, 100], 
    'oranges': [30, 300, 700, 200],
    'pears': [20, 500, 600, 50]
}
```

Now that our data is stored to a variable, let's use it as a parameter for a new dataframe object named *fruit_yields* by running the cell below.

In [0]:
fruit_yields = pd.DataFrame(data, index=['Spring', 'Summer', 'Fall', 'Winter'])
fruit_yields

It can now be infered that the list of strings used for the index parameters intialized row header values for our *fruit_yields* dataframe. Using the **loc** function, you can get elements by row or column by refrencing its index name. Try extracting the elements from the row labeled 'Summer' and saving them to a variable named *summer_yields*

In [0]:
summer_yields = fruit_yields.loc[]
summer_yields

Now try extracting the elements from the 'apples' column of our DataFrame and saving them to a variable named *apple_yields*

### Basic Data Plotting
By using the **plot.bar** function we can analyze our data using a bar graph

In [0]:
df.index = df['Name']
ax = df.plot.bar(rot=0)
ax.set_ylabel('Count', color='white')
ax.set_xlabel('Artist', color='white')
ax.tick_params(colors='white')

Try plotting the fruit_yields DataFrame

In [0]:
fruit_yields

That completes Chapter 4, in our next lesson we will begin visually analyzing dataframes using more advanced libraries like **matplotlib** and **seaborn**